<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
</head>
<body>
    <h1>Upload File</h1>
    <form action="/upload/" method="post" enctype="multipart/form-data">
        <label for="file">Select File:</label>
        <input type="file" id="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        <br>
        <label for="freq">Frequency:</label>
        <input type="text" id="freq" name="freq" required>
        <br>
        <label for="target_column">Target Column:</label>
        <input type="text" id="target_column" name="target_column" required>
        <br>
        <label for="date_column">Date Column:</label>
        <input type="text" id="date_column" name="date_column" required>
        <br>
        <label for="horizon">Horizon:</label>
        <input type="number" id="horizon" name="horizon" required>
        <br>
        <br>
        <label for="season length">Horizon:</label>
        <input type="number" id="season_length" name="season_length" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
